* {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
body{
	background-color: rgba(229,229,229,0.6);
}
.col-md-2, .col-md-10{
    padding: 0px;
}

.header{
	height: 120px;
	background-color: #fff;
}

.dbIndex li{
	margin: 0 0 0 20px;
	height: 30px;
	line-height: 150%;
}

.redis-value{
	position: absolute;
    right: 0px;
	top: 120px;
	z-index: 99;
    width:500px;
}
.redis-content{
    text-align: left;
}